.modalCanvas {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .modalOverlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
    }
  
    .modalBody {
      position: relative;
      background-color: #fafafa;
      height: 30vh;
      width: 50vw;
      margin: auto;
      text-align: center;
      padding: 20px;
  
      h2 {
        font-size: 2rem;
        color: #0a0a0a;
        text-transform: uppercase;
      }
  
      p {
        margin-top: 25px;
      }
  
      button {
        margin-top: 30px;
        background-color: #81A1C1;
        border: 0;
        color: #fafafa;
        width: 50%;
        height: 40px;
        cursor: pointer;
  
        &:hover {
          background-color: #fafafa;
          color: #81A1C1;
          border: 1px solid #81A1C1;
        }
      }
    }
  }