    .boardContainer {
        transition: 2s ease;
        .suggestion {
            .cell.correct {
                background-color: #a3be8c !important;
            }
            .cell.incorrect {
                background-color: #d08770 !important;
            }
            .cell.selected.incorrect {
                background-color: #d36c4d !important;
            }
            .cell.selected.correct {
                background-color: #81b653 !important;
            }
            .cell.highlighted.incorrect {
                background-color: #d08770 !important;
            }
            .cell.highlighted.correct {
                background-color: #a3be8c !important;
            }
        }
        .board {
            --wide-border-color: #688051;
            height: 50vmin;
            width: 50vmin;
            //opacity: 1;
            margin: auto;
            transform-style: preserve-3d;
            transform: rotateX(0deg) rotateZ(0deg);
            transition: 2s ease;
            position: relative;
            .page {
                //display: none;
                transition: 2s ease;
                width: 50vmin;
                height: 50vmin;
                transform-style: preserve-3d;
                position: absolute;
                padding: 2vmin;
                display: grid;
                background: #eceff4;
                grid-gap: -0.1vmin;
                grid-template: repeat(9, 1fr) / repeat(9, 1fr);
                .selected {
                    background-color: #a9b3c4 !important;
                }
                .highlighted {
                    background-color: #d5dae2 !important;
                }
                .cell {
                    background: #eceff4;
                    display: grid;
                    place-content: center;
                }
                .border-top {
                    border-top: 0.2vmin solid var(--wide-border-color) !important;
                }
                .border-left {
                    border-left: 0.2vmin solid var(--wide-border-color) !important;
                }
                .border-bottom {
                    border-bottom: 0.2vmin solid var(--wide-border-color) !important;
                }
                .border-right {
                    border-right: 0.2vmin solid var(--wide-border-color) !important;
                }
            }
            .solved {
                background-color: #a3be8c;
                .cell {
                    background-color: #a3be8c;
                }
            }
            .top.solved .cell {
                border: 0.2vmin solid #d0582e;
            }
            .bottom.solved .cell {
                border: 0.2vmin solid #516624;
            }
            .left.solved .cell {
                border: 0.2vmin solid #d0582e;
            }
            .right.solved .cell {
                border: 0.2vmin solid #d0582e;
            }
            .top {
                transform: translateY(-25vmin) rotateX(90deg);
                .cell {
                    //
                    border: 0.1vmin solid #d08770;
                }
            }
            .bottom {
                transform: translateY(25vmin) rotateX(-90deg);
                .cell {
                    border: 0.1vmin solid #a3be8c;
                }
            }
            .left {
                transform: translateX(-25vmin) rotateY(-90deg);
                .cell {
                    border: 0.1vmin solid #d08770;
                }
            }
            .right {
                transform: translateX(25vmin) rotateY(90deg);
                .cell {
                    border: 0.1vmin solid #ebcb8b;
                }
            }
            .front {
                transform: translateZ(25.3vmin);
                width: 50.2vmin;
                height: 50.2vmin;
                background: #ffffff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            .back {
                transform: translateZ(-25vmin) rotateX(180deg);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
    .xeasy {
        perspective: 50vmin;
        .board {
            transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
            .front {
                transform: translateZ(25vmin);
                width: 50vmin;
                height: 50vmin;
            }
        }
    }
    
    .easy {
        perspective: 50vmin;
        .board {
            transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
            .front {
                transform: translateZ(25vmin);
                width: 50vmin;
                height: 50vmin;
            }
        }
    }
    
    .medium {
        perspective: 50vmin;
        .board {
            transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
            .front {
                transform: translateZ(25vmin);
                width: 50vmin;
                height: 50vmin;
            }
        }
    }
    
    .hard {
        perspective: 50vmin;
        .board {
            transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
            .front {
                transform: translateZ(25vmin);
                width: 50vmin;
                height: 50vmin;
            }
        }
    }
    
    .hidden {
        display: none !important;
    }
    
    .done {
        perspective: 100vmin;
        .animate {
            animation: frame1 15s cubic-bezier(0.26, 0.08, 0.63, 0.53) forwards;
            .front {
                animation: fade 5s forwards 1s;
            }
            .back {
                animation: fade 5s forwards 1s;
            }
            .top {
                animation: fade 5s forwards 1s;
            }
            .bottom {
                animation: fade 5s forwards 1s;
            }
            .left {
                animation: fade 5s forwards 1s;
            }
            .right {
                animation: fade 5s forwards 1s;
            }
        }
        .board {
            transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
            .front {
                width: 50vmin;
                height: 50vmin;
            }
        }
    }
    
    @keyframes frame1 {
        0% {
            transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
        }
        10% {
            transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
        }
        100% {
            transform: rotateX(-90deg) rotateY(0deg) rotateZ(36000deg);
        }
    }
    
    @keyframes fade {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    .controls {
        transition: 1s ease;
        height: 50vmin;
        width: 10vmin;
        background-color: #D8DEE9;
        position: absolute;
        left: 0;
        top: 25vmin;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        div {
            color: #3B4252;
            font-size: 2em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25%;
        }
        .auto-pilot {
            .switch3 {
                display: none;
            }
            .switch3+label {
                position: absolute;
                width: 37px;
                height: 16px;
                border-radius: 10px;
                transition: all 1s;
                box-shadow: 1px 1px 2px #4C566A;
            }
            .switch3+label:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                margin-top: -1.55px;
                transition: all 0.5s ease-in-out;
            }
            .switch3:checked+label {
                background: #5E81AC;
            }
            .switch3:checked+label:before {
                background: #81A1C1;
                margin-left: 17px;
                box-shadow: 0 0 3px #81A1C1;
                animation: switch32 0.5s ease;
            }
            .switch3:not(:checked)+label {
                background: #4C566A;
            }
            .switch3:not(:checked)+label:before {
                background: #fff;
                margin-left: 0;
                box-shadow: 0 0 3px #434C5E, inset 0 0 1px #4C566A;
                transition: all 0.5s ease;
                animation: switch31 0.5s ease;
            }
            @keyframes switch31 {
                0% {
                    transform: scale(1);
                    width: 20px;
                }
                50% {
                    width: 25px;
                }
                100% {
                    width: 20px;
                }
            }
            @keyframes switch32 {
                0% {
                    transform: scale(1);
                    width: 20px;
                }
                50% {
                    width: 25px;
                }
                100% {
                    width: 20px;
                }
            }
        }
    }
    
    .numpad {
        background: #81A1C1;
        position: absolute;
        right: 0;
        height: 81vmin;
        top: 9.5vmin;
        width: 10vmin;
        div {
            width: 100%;
            height: 9vmin;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
        }
    }
    
    .tooltip {
        position: relative;
    }
    
    .tooltiptext {
        visibility: hidden;
        background-color: lightblue;
        color: black;
        text-align: center;
        border-radius: 6px;
        padding: 1vh;
        top: 0;
        /* Position the tooltip */
        font-size: 2vh;
        z-index: 1;
        transform: translate(50%, 380%);
    }
    
    .tooltip:hover .tooltiptext {
        visibility: unset;
    }