.boardContainer{
    background-color: lightgrey;
    .board{
        display: grid;
        grid-template: repeat(9,auto) / repeat(9,auto);
        height: 90vmin;
        width: 90vmin;
        border: solid black 2vmin;
        .cell{
            background: slategray;
            display: grid;
            place-content: center;
            border: 0.2vmin solid black;
        }
    }
}
