* {
  transition: 1s ease;
}

.boardContainer {
  perspective: 100vmin;

  .board {
    height: 50vmin;
    width: 50vmin;
    margin: auto;
    transform-style: preserve-3d;
    animation: frame1 4s linear infinite;
    transform: rotateX(0deg) rotateZ(0deg);
    position: relative;


    .page {
      //display: none;
      width: 50vmin;
      height: 50vmin;
      transform-style: preserve-3d;
      position: absolute;
      padding: 2vmin;
      display: grid;
      grid-template: repeat(9,1fr) / repeat(9,1fr);
    }

    .top {
      transform: translateY(-25vmin) rotateX(90deg);
      background-color: red;
    }

    .bottom {
      transform: translateY(25vmin) rotateX(-90deg);
      background-color: yellow;
    }


    .left {
      transform: translateX(-25vmin) rotateY(-90deg);
      background-color: orange;
    }

    .right {
      transform: translateX(25vmin) rotateY(90deg);
      background-color: blue;
    }

    .front {
      transform: translateZ(25.3vmin);
      width: 50.2vmin;
      height: 50.2vmin;
      background: #ffffff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .back {
      transform: translateZ(-25vmin) rotateX(180deg);
      background-color: deeppink;
    }

    //@keyframes frame1 {
    //  0% {
    //    transform: rotateX(0deg) rotateY(0deg) rotateY(0deg);
    //  }
    //  100% {
    //    transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
    //  }
    //}


  }


  .cell {
    background: red;
    display: grid;
    place-content: center;
    border: 0.2vmin solid black;
  }


}

.xeasy {
  perspective: 50vmin;

  .board {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    .front{
      transform: translateZ(25vmin);
      width: 50vmin;
      height: 50vmin;
    }
  }

}

.easy {
  perspective: 50vmin;

  .board {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
    .front{
      transform: translateZ(25vmin);
      width: 50vmin;
      height: 50vmin;
    }
  }
}

.medium {
  perspective: 50vmin;

  .board {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);

    .front{
      transform: translateZ(25vmin);
      width: 50vmin;
      height: 50vmin;
    }
  }
}

.hard {
  perspective: 50vmin;

  .board {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    .front{
      transform: translateZ(25vmin);
      width: 50vmin;
      height: 50vmin;
    }
  }
}

.done {
  perspective: 100vmin;

  .board {
    transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
    .front{
      transform: translateZ(25vmin);
      width: 50vmin;
      height: 50vmin;
    }
  }
}
